<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>Category: {{currentCategoryName}}</h4>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <!--Loop of over the collection of products-->
        <div *ngFor="let tempProducts of products" class="col-3">
          <div class="product-box">
            <img src="{{tempProducts.imageUrl}}" class="img-responsive">
            <h1>{{tempProducts.name}}</h1>
            <div class="price">{{tempProducts.unitPrice | currency:'INR'}}</div>
            <a href="#" class="primary-btn">Add to Cart</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
